body {
  margin: 0;
}

/* cabeçalho */
header {
  background: #e6cc8f;
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px; /* valor usado como padrão para web */
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #ab3e16;
  text-decoration: underline;
}

/* conteúdo principal */
.titulo-principal {
  text-align: center;
}

.principal-home {
  background: #e7cc8f;
  text-align: center;
  padding: 30px;
}

#banner {
  width: 100%;
}

.titulo-centralizado {
  text-align: center;
}

p > em {
  font-size: 20px;
}

em > strong {
  color: #ab3e16;
}

/* benefícios */
.beneficios {
  padding: 20px;
}

.lista-itens {
  display: inline-block; /* ocupa o tamanho do seu conteúdo mas deixa mexer nas margens */
  vertical-align: top; /* alinha os elementos pelo topo */
  width: 20%;
  margin-right: 15%;
}

.itens {
  font-style: italic;
}

.imagem-beneficios {
  width: 50%;
}

/* rodapé */
footer {
  text-align: center;
  background: url("../img/bg.jpg");
  padding: 40px 0;
}

.copyright {
  color: #fff;
  font-size: 13px;
  margin: 20px 0 0;
}
