#vai-tremer {
    width: 100px;
    height: 100px;
    background-color: darkred;
    color: white;
    margin: 1rem;
    animation: tremer .2s;
    animation-iteration-count: 4;
}

@keyframes tremer {
    0% {margin-left: 0;}
    25% {margin-left: 7px;}
   50% {margin-left: 0;}
    75% {margin-left: -7px;}
    100% {margin-left: 0;}
}

#vai-piscar {
    width: 100px;
    height: 100px;
    background-color: darkblue;
    color: white;
    margin: 1rem;
    animation: piscar .9s linear 3;
    -webkit-animation: piscar .9s linear 3;
    -moz-animation: piscar .9s linear 3;
    -ms-animation: piscar .9s linear 3;
    -o-animation: piscar .9s linear 3;
}

@keyframes piscar {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

