<html>
    <head>
        <title>Um Pouco de CSS</title>
    </head>
    <style>
        h1 {
            position: right 400px;
          font-size: 20px;
        }

        .fundoVermelho {
            background-color: red;
        }

        .negrito {
            font-weight: bold;
        }

        #textoPrincipal {
            font-size: 40px;
            font-weight: bold;
            color: white;
            padding: 10px;
            background-color: #444;
        }
    </style>
    <body>
        <h1>CSS</h1>
        <span id="textoPrincipal">Texto 1</span><br>
        <span class="fundoVermelho negrito">Texto 2</span><br>
        <span class="fundoVermelho">Texto 3</span>
    </body>
</html>